# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Build files (if not customizing native code)
android/
ios/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Optional (if using Yarn)
package-lock.json

# EAS (if sensitive)
eas.json

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Environment/config files
expo-env.d.ts
localhostConf.ts
AuthKey_*.p8  # Ignore all Apple auth keys
